*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
.container{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    background-image: url('https://source.unsplash.com/random/1920x1080/?wallpaper,landscape');
    font-size: 120%;
    font-family: 'Oswald', sans-serif;
}
.card{
    background-color: #00000011;
    padding: 2em;
    color:rgb(193, 227, 237);
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}
.search{
    display: flex;
   align-items: center;
justify-content: center;
}
button{
    margin: 0.5em;
    background-color:#7c7c7c2b;
    cursor: pointer;
    transition: .2s ease-in-out;
    border-radius: 50%;
    border: none;
    height: 2.5rem;
    width: 2.5em;
    outline: none;
}
.search-bar{
    border: none;
    outline: none;
    padding:0.5em 1em;
    border-radius:18px;
    background-color: #7c7c7c2b;
    color: lightblue;
    font-size: 120%;
    font-family: inherit;
    width: calc(100%-100px);
}
button:hover{
    height: 3em;
    width: 3em;
    font-size: large;
    background-color:#7c7c7cfa;
}
h1.temp{
    margin: 0;
}
.flex{ 
     display :flex;

}
.description{
    text-transform: capitalize;
 margin-left:8px;
}